.catalogCon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  display: flex;
  align-items: baseline;
  background-color: white;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.catalogButton {
  display: flex;
  align-items: center;
  padding: 10px 26px;
  width: 234px;
  justify-content: space-between;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  font-family: Noto Serif;
  font-size: 24px;
  font-weight: 400;
  color: white;
  background: linear-gradient(
    90deg,
    #e1c557 0%,
    #b1832b 26.5%,
    #e1c562 65%,
    #c7982e 100%
  );
}
.resCatalog {
  display: flex;
  width: 100%;
  justify-content: center;
  display: none;
}
@media screen and (max-width: 700px) {
  .resCatalog {
    display: flex;
  }
}
